.disable-select {
  user-select: none;
 -webkit-user-select: none;
 -khtml-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
}

@font-face {
  font-family: 'arcadeclassicregular';
  src: url('fonts/arcadeclassic-webfont.woff2') format('woff2'),
       url('fonts/arcadeclassic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  display: flex;
  justify-content: center;
  background-color: rgb(125, 211, 211);
  color: black;
  font-family: 'arcadeclassicregular';
}


#main-item {
  min-width: 300px;
  display: inline-block;
  align-items: center;
  /* background-color: rgb(176, 203, 214); original */
  background-color: rgb(224, 235, 240);
  margin: 5px;
  border: none;
  border-radius: 30px;
  -webkit-box-shadow: inset -3px -3px 5px rgb(255, 255, 255);
  -moz-box-shadow: inset -3px -3px 5px rgb(255, 255, 255);
  box-shadow: inset -2px -2px 5px rgb(153, 153, 153);
}

#board-container {
  display: flex;
  margin: 30px;
  /* background-color: rgb(182, 214, 226); original */
  background-color: rgb(204, 202, 186);
  padding: 0px 4px 8px 4px;
  border-style: inset;
}

#the-board {
  padding: 0px;
}

.inputdiv {
  height: 12px;
}

.inputdiv2 {
  width: 10px;
  height: 10px;
  display: inline-block;
}

#stats {
  padding: 10px 0px 0px 10px;
}

#high-score-list {
  font-size: 10px;
  list-style: none;
  padding-left: 0;
}

#controls-container {
  display: flex;
}

.next-piece-items {
  width: 8px;
  height: 8px;
  display: inline-block;
  margin: none;
}

.next-piece {
  height: 10px;
}

#controls-container {
  display: inline-flex;
  align-items: center;
}

#button-container {
  margin: 30px;
}

#sound-button {
  position: fixed;
  transform: translate(240px, -15px);
}

#music-button {
  position: fixed;
  transform: translate(220px, -15px);
}

#start-button, #pause-button {
  font-family: 'Roboto', sans-serif;
  background-color: #d8a2d1;
  width: 60px;
  height: 30px;
  border-radius: 20px;
  font-size: 12px;
  text-align: center;
  display: table-cell; 
  vertical-align: middle;
}

.control {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  margin: -3px;
  /* text-align: center; */
  background-color: #d7da49;
  border-radius: 100%;
}

.button {
  -webkit-box-shadow: inset 0px -2px 5px rgb(153, 153, 153);
  -moz-box-shadow: inset 0px -2px 5px rgb(153, 153, 153);
  box-shadow: inset 0px -2px 5px rgb(153, 153, 153);
  border: none;
}

.button:active {
  background-color: #d7da49;
  box-shadow: 0px 5px rgb(105, 104, 104);
  -webkit-box-shadow: inset 0px 2px 5px #333;
  -moz-box-shadow: inset 0px 2px 5px #333;
  box-shadow: inset 0px 2px 5px #333;
 }


 /* add media query */





 